
@{
    ViewBag.Title = "My Profile";
}

<img src="~/Content/images/MyPic.gif" /><br /><br />
<p>
    <b>
        Kunal Brahme |
        Contact No. : +91 7507305390 |
        Email ID: kunalbrahme121@gmail.com
    </b>
</p>

<p> <b>Summary</b></p>

<p>
    <ul>
        <li>
            Overall 4.2 years of Rich experience in all phases of Software Development Life Cycle (SDLC) and Software Maintenance Life Cycle (SMLC)
            with concentration development and implementation of applications, including requirements gathering, designing,
            detailed client - server / web-based applications specifications, development, testing, and post-implementation support.
        </li>
    </ul>
</p>
<p>
    <ul>
        <li>
            Currently working with fiserv in destination of software development Engineer professional.
        </li>
    </ul>
</p>
<p>
    <ul>
        <li>
            Worked with TCS for about 3.10 years as Asp.net developer.
        </li>
    </ul>
</p>
<p>
    <ul>
        <li>
            Excellent interpersonal and analytical skills and a motivated team player with the ability to work independently.
        </li>
    </ul>
</p>
<p>
    <ul>
        <li>
            Ability to handle multiple tasks, Initiative and Adaptable. Self-motivated and total commitment to the organizational goals.
        </li>
    </ul>
</p>
<p>
    <ul>
        <li>
            Expertise in Microsoft .Net Technologies (ASP.NET MVC, Asp.Net, .Net Framework 3.5, 4.5, Entity framework 5.0, 6.0, C#.Net,
            Visual Studio-2010, 2012, 2015, SQL Server- 2008/2012/2015).
        </li>
    </ul>
</p>
<p>
    <ul>
        <li>
            Experience in SQL Query design, Functions, Stored Procedure, Trigger and View, SQL Profiler, Tuning Advisor etc.
        </li>
    </ul>
</p>
<p>
    <ul>
        <li>
            Experience in using ASP.NET AJAX for quickly creating an efficient and interactive web application that works across all popular browsers.
        </li>
    </ul>
</p>
<p>
    <ul>
        <li>
            Customized many features through JQuery and JS and with heavy DOM manipulation as per the client’s requirement.
        </li>
    </ul>
</p>
<p>
    <ul>
        <li>
            Experience in implementing Asp.MVC application with repository pattern.
        </li>
    </ul>
</p>
<p>
    <ul>
        <li>
            Performed Unit Testing for the piecewise testing of the Applications.
        </li>
    </ul>
</p>

<p>
    <ul>
        <li>
            Expertise in Object Oriented Programming (OOPS) Concepts along with experience in Debugging.
        </li>
    </ul>
</p>
<p>
    <ul>
        <li>
            Knowledge of building solutions with n-Tier Architecture with the latest technology like Angular Js, WebApi.
        </li>
    </ul>
</p>
<p>
    <ul>
        <li>
            Knowledge of migrating existing Asp.Net projects into Asp.Net MVC projects.
        </li>
    </ul>
</p>
<p>
    <ul>
        <li>
            Good knowledge of writing the web services (WCF, WebApi), implementing and consuming into projects.
        </li>
    </ul>
</p>
<p>
    <ul>
        <li>
            Experience in client handling and interaction. Involve in many transitions (handover and takeover) of projects from different companies.
        </li>
    </ul>
</p>
<p>
    <ul>
        <li>
            Good Knowledge of IIS server.</li></ul>
</p>




